.navigation {
    max-width:200px;
    border-right:1px solid rgba(220,220,220,0.99);
    padding-left:10px;
    min-height:100%;
    padding-top:100px;
}
.main-content {
    max-width:90%;
    margin:auto;
}
#comp-img-container {
    max-width: 75%;
}
.comp-img {
    max-width:700px !important;
}
#comp-ul {
    margin-right:4px;
}